{% extends 'base.html.twig' %}

{% block body %}
    <form>
        {{ form_widget(form.name) }}
        {{ form_rest(form) }}
        <input type="submit" value="Submit User">
    </form> 
{% endblock %}
